.front {
  .node-page.view-mode-full h1,
  .pagetitle {
    display: none;
  }
  .front-block-browse, .preface .block-mm-directory{
    .views-row, .content {
      padding: 0;
      border: 0;
      border-top: 1px solid #EDEDED;
      a {
        text-decoration: none;
        padding: .75em 1em;
        display: block;
        color: inherit;
        &:before {
          content: '';
          background: url('../images/arrow.png') no-repeat;
          width: 7px;
          height: 11px;
          display: inline-block;
          margin-right: 1em;
          margin-left: .35em;
        }
        &:hover {
          background: #f7f7f7;
        }
      }
    }
    h4 {
      margin: 0;
      padding: 1em;
      font-size: 1.2em;
    }
  }
  .preface .block-mm-directory {
     h2 {
        display: none;
      }
    .content {
      padding: 0 1em 1.5em;
      h4 {
        margin: 0;
        padding: 1em 0;
        font-size: 1.2em;
      }
      .custom-select {
        width: 100% !important;
      }
    }
  }
  .front-block-browse.over10 {
    padding: 0 1em 1.5em;
    h4 {
      margin: 0;
      padding: 1em 0;
      font-size: 1.2em;
    }
    .custom-select {
      width: 100% !important;
    }
  }
  .preface .block-views, .preface .block-mm-directory {
//    margin: 0 0 2em;
    @include breakpoint($bp-tablet, $no-query: '.no-mq') {
      width: 48%;
      display: inline-block;
      vertical-align: top;
      margin: 0 1%;
      box-shadow: 0 0 15px rgba(0,0,0,0.25);
      border-radius: 3px;
      background: #fff;
      float: left;
    }
  }
  #block-views-home-blocks-block {
    width: 100%;
    margin-bottom: 2em;
    background: none;
    box-shadow: none;
    .views-row {
      box-shadow: 0 0 15px rgba(0,0,0,0.25);
      border-radius: 3px;
      background: #fff;
      text-align: center;
      display: none;
      text-align: center;
      @include breakpoint($bp-tablet, $no-query: '.no-mq') {
        width: 31%;
        margin: 0 1%;
        display: inline-block;
        vertical-align: top;
        min-height: 194px;
        &.views-row-first {
          margin-left: 0;
        }
        &.views-row-last {
          margin-right: 0;
        }
      }
      @include breakpoint($bp-large, $no-query: '.no-mq') {
        min-height: auto;
      }
      a {
        text-decoration: none;
        display: block;
        padding: 1em;
        @include breakpoint($bp-tablet, $no-query: '.no-mq') {
          padding: 1.8em 2em 0.8em;
        }
      }
      .front-block h4,
      .front-block img {
        vertical-align: middle;
      }
      .front-block img {
        margin-right: 1em;
        height: 61px;
        width: auto;
        margin: 0 auto;
      }
    }
  }
}
// FEatured Teasers
.front {
  .block-mm-featured {
    header {
      text-align: center;
      font-size: 1.2em;
      margin-bottom: 2em;
    }
    .card-grid {
      display: flex;
      flex-wrap: wrap;
      .featured-spotlight {
        background: #FFF;
        box-shadow: 0 0 6px 0 rgba(84,84,84,0.25);
        border-radius: 3px;
        @include clearfix;
        margin-bottom: 2em;
        padding-bottom: 1em;
        max-width: 100%;
        @include breakpoint($bp-tablet, $no-query: '.no-mq') {
          width: 47.9%;
          flex-basis: 47.9%;
          display: inline-block;
          vertical-align: top;
          margin: 0 1% 2em;
          // &:first-of-type,
          &.featured-spotlight-1, &.featured-spotlight-4, &.featured-spotlight-7,
          &.featured-spotlight-10, &.featured-spotlight-13, &.featured-spotlight-16,
          &.featured-spotlight-19, &.featured-spotlight-22, &.featured-spotlight-25,
          &.featured-spotlight-28, &.featured-spotlight-31 {
            width: 100%;
            flex-basis: 100%;
          }
        }
        @include breakpoint($bp-large, $no-query: '.no-mq') {
          width: 31.3%;
          flex-basis: 31.3%;
          margin: 0 1% 2em;
          // &:nth-child(4n+1),
          &.featured-spotlight-1, &.featured-spotlight-4, &.featured-spotlight-7,
          &.featured-spotlight-10, &.featured-spotlight-13, &.featured-spotlight-16,
          &.featured-spotlight-19, &.featured-spotlight-22, &.featured-spotlight-25,
          &.featured-spotlight-28, &.featured-spotlight-31 {
            width: 31.3%;
          flex-basis: 31.3%;
          }

          &.featured-spotlight-1, &.featured-spotlight-5, &.featured-spotlight-9,
          &.featured-spotlight-13, &.featured-spotlight-17, &.featured-spotlight-21,
          &.featured-spotlight-25, &.featured-spotlight-29, &.featured-spotlight-33 {
            width: 100%;
            flex-basis: 100%;
            .featured-spotlight-image {
              float: left;
              margin-right: 2em;
              width: 50%;
            }
            .featured-spotlight-content {
              overflow: hidden;
            }
          }
          // &.featured-spotlight-1, &.featured-spotlight-4, &.featured-spotlight-7,
          // &.featured-spotlight-10, &.featured-spotlight-13, &.featured-spotlight-16,
          // &.featured-spotlight-19, &.featured-spotlight-22, &.featured-spotlight-25,
          // &.featured-spotlight-28, &.featured-spotlight-31 {
          //   width: 31.3%;
          //   flex-basis: 31.3%;
          // }
        }
        .featured-spotlight-content {
          padding: 1em 1.3em;
          h2 {
            font-size: 1.5em;
            a {
              color: inherit;
            }
          }
        }
        .featured-spotlight-view-more-link, .flag-outer {
          display: inline-block;
          padding: 0 0.75em 0.75em 0;

        }
        a.featured-exhibitor-view-more-link {
          color: #fff;
          display: inline-block;
          font-size: 90%;
          padding: .45em 1.65em;
          text-decoration: none;
          background: $color-one;
          border: 1px solid #144881;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
          border-radius: 3px;
          margin-top: 1.5em;
          &:hover {
            background: darken($color-one, 5%);
            color: #fff;
          }
        }
      }
    }
  }
}

