.block-facetapi, #block-views-exp-all-content-indexed-page {
  margin-bottom: 2em;
  background: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

  padding: 1em;
  //border: 1px solid #ccc;
  input[type="text"] {
    width: 100%;
  }
  h2, label {
    font-size: 1em;
    margin: 0;
    margin: -1rem -1rem 1rem;
    padding: 1em 1em .85em;
    background: rgba(64,150,238,1);
    color: #fff;
    box-shadow: 0 1px 7px rgba(0,0,0,0.1);
    line-height: 1;
    font-weight: normal;
  }
  ul {
    padding: 0;
    margin: .5em 0 0;
    list-style: none;
    font-size: 0.9em;
    li {
      list-style: none;
          padding: 0 0 3px;
    }
    ul {
       padding-left: 1em;
       font-size: 1em;
    }
  }
  .facetapi-limit-link {
    display: block;
    margin-top: 1em;
    font-weight: 700;
  }
  .facetapi-slider-min {
    margin-left: 0 !important;
  }
  .facetapi-slider-min {
        width: 9%;
    font-size: .9em;
    vertical-align: middle;
    display: inline-block;
        font-weight: 700;
  }
  .facetapi-slider-max {
        float: right;
    margin-right: -3px;
    width: 9%;
    font-size: .9em;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0 !important;
        font-weight: 700;
  }
  .facetapi-slider {
        width: 60%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: middle;
  }
  input[type="checkbox"] {
    font-size: 10px;
    display: block;
    vertical-align: middle;
    margin-right: 1em;
    float: left;
  }
  a.facetapi-checkbox,  {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    vertical-align: middle;
    display: block;
    overflow: hidden;
  }
}
.facet-collapsible-wrapper a {
  color: inherit;
  text-decoration: none;
}

#block-block-10 {
margin-top: 3em;
  .content {
    a {
  color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    display: block;
    background: #f39c0b;
    padding: .5em 1.25em;
    text-align: center;
    border-radius: 2px;
    }
  }
}