.logo {
padding: 1em 0;
  .site-name {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4em;
    a {
      color: #2064AE !important;
    }
    
  }
}

#logo {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
}