html {
  box-sizing: border-box;
      //overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0 0;
  background-color: $site-bg;
      background-color: #efefef;
        background: url('../images/csu-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
   // overflow-x: hidden;
  }
}
.wrap {
  max-width: $container_width;
  margin: 0 auto;
  padding: 0 1em;
  @include clearfix;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    padding: 0 2em;
  }
}

html body.admin-menu {
    margin-top: 30px !important;
    position: relative;
}

.mm-page {
    margin: 2em;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    border-radius: 3px;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
    margin: 4em;
  }
      @include breakpoint($bp-large, $no-query: '.no-mq') {
    margin: 5em;
  }
}