header.site-header {
  @include clearfix;
  position: relative;
  background: rgba(255, 255, 255, 0.68);
  padding: 1em 0;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    padding: .5em 0 .5em;
    z-index: 11;
  }
}


.logo {
  //width: 50px;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
  }
}



.header-blocks {
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    display: inline-block;
    vertical-align: middle;
  }
}

.top-nav-container {
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    float: right;
  }
}